---
import Base from "../layouts/base.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Base>
			<h1>Hello!</h1>
			<p>Hi!</p>
			<p>Hello!</p>
			<img src="https://pyxis.nymag.com/v1/imgs/4e7/109/9ca3a0b4352ca3ff74b89cb208ceda6ab5-kidney-bean.rsquare.w700.jpg" alt="Example Image">
			<p>What's up gamers?</p>
			<p>thempmodisworkingthempmodisworkingthempmodisworkingthempmodisworkingthempmodisworkingthempmodisworkingthempmodisworkingthempmodisworkingthempmodisworkingthempmodisworkingthempmodisworkingthempmodisworkingthempmodisworkingthempmodisworkingthempmodisworkingthempmodisworkingthempmodisworkingthempmodisworkingthempmodisworkingthempmodisworkingthempmodisworkingthempmodisworkingthempmodisworkingthempmodisworkingthempmodisworkingthempmodisworkingthempmodisworkingthempmodisworkingthempmodisworkingthempmodisworkingthempmodisworkingthempmodisworkingthempmodisworkingthempmodisworkingthempmodisworkingthempmodisworkingthempmodisworkingthempmodisworkingthempmodisworkingthempmodisworkingthempmodisworkingthempmodisworkingthempmodisworkingthempmodisworkingthempmodisworkingthempmodisworkingthempmodisworkingthempmodisworkingthempmodisworkingthempmodisworkingthempmodisworkingthempmodisworkingthempmodisworkingthempmodisworkingthempmodiswo</p>
		</Base>
	</body>
</html>
